.nv-datepicker-header {
    padding: 0px 6px;
    font-size: 10px;
	text-align: left;
	background-image: none;
	background-color: #23427c;
	color:white;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#1f3a6c),color-stop(100%,#264888));
	background-image: -webkit-linear-gradient(top,#1f3a6c,#264888);
	background-image: -moz-linear-gradient(top,#1f3a6c,#264888);
	background-image: -o-linear-gradient(top,#1f3a6c,#264888);
	background-image: linear-gradient(top,#1f3a6c,#264888);
}
