.nv-color-trigger{
	background-image: url("../image/color-picker.gif") !important;
/*	background-position: center;
	background-repeat: no-repeat;,
	border-top-width: 1px;
	border-right-width: 1px;*/
}